body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
}

h3 {
  margin-bottom: 0;
}

input[type="text"] {
  font-size: 14px;
  padding: 5px;
  margin-top: 10px;
}

input[type="submit"] {
  color: white;
  background-color: #1e90ff;
  border-radius: 3px;
  font-size: 14px;
}